<body class="dark-edition off-canvas-sidebar">
  <div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('/img/cheemswall2.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-8 col-sm-10 ml-auto mr-auto">
            <div class="card card-signup">
              <h2 class="card-title text-center">{{title}}</h2>
              <h5 class="text-center text-{{type}} font-weight-bold">{{message}}</h5>
              <br>
              <a class="btn btn-primary w-50 ml-auto mr-auto mt-4" href="{{link}}">{{linkText}}</a>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="copyright float-center">
            Codificado con <i class="material-icons">favorite</i> por
            <a href="https://urienix.moe" target="_blank">Urienix</a>
        </div>
      </footer>
    </div>
  </div>
  {{>corescripts}}
  <script src="/js/plugins/sweetalert2.js"></script>
  <script src="/js/controls/register.js"></script>
</body>